<div class="row m-2">
    <div class="col-11">
        @if(IsSettings)
        {            
            <button class="btn btn-primary" (click)="toggleSettings()">Home</button>
        }
    </div>
    <div class="col-1">
        <button class="btn btn-secondary" (click)="toggleSettings()">Settings</button>
    </div>
</div>

<div class="m-2">
    @if(IsSettings)
    { 
        <app-settings></app-settings>
    }
    @else
    {
        <div>
            <button (click)="randomize()" class="btn btn-primary">Randomize</button>
        </div>
        <table class="table table-striped fs-1">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Second</th>
                    <th>Third</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Pairings">
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                </tr>
            </tbody>
        </table>
    }
</div>